@use 'styles/abstracts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: abstracts.$font, sans-serif;
  background-color: abstracts.$backgroundColor;
  color: abstracts.$textColor;
}

.resource-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.resource-detail-card {
  max-width: 500px;
  padding: 2rem;
  background-color: abstracts.$cardBackground;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
  }
}

.card-title {
  font-size: abstracts.$heading1;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card-content {
  p {
    font-size: abstracts.$paragraph1;
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
}

.loader-text {
  padding-top: 1rem;
  font-size: abstracts.$paragraph2;
}

@media (max-width: 600px) {
  .resource-detail-card {
    max-width: 90%;
    padding: 1.5rem;
  }

  .card-title {
    font-size: abstracts.$headingMob1;
  }

  .card-content {
    p {
      font-size: abstracts.$paragraphMob1;
    }
  }

  .loader-container {
    padding: 0 20px;
  }
}

.back-button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  margin-left: 5rem;
}